.album_item {
	min-width:200px;
	overflow:hidden;
	text-align:center;
	margin:10px;
	float:left;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 5px 5px 5px #888888;
	
}
div.album_item img,div.album_item img.colorbox {
	display:inline;
	border:1px solid #ffffff;
        margin:0;
}
div.album_item a:hover img,iv.album_item a:hover img.colorbox {
	border:1px solid #369;
}
div.album_desc {
	text-align:center;
	font-weight:normal;
}
div.album_title{
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}
img.album_icon{
}

.clear {
	clear:both;
}

.titel{
        border:1px solid  #FF4646;
}

.photo_rand{
	text-align:center;
}
/*
#slideshow {
	text-align:center;
    padding: 0px; 
   min-height: 150px;
}

#slideshow > div { 
    position: absolute; 
    top: 1px; 
    left: 1px; 
    right: 1px; 
    bottom: 1px
}
*/

.slider {
/*  width: 580px;  Update to your slider width */
  min-height: 148px; /* Update to your slider height */
  position: relative;
  overflow: hidden;
  margin:0;
  padding:0;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}


